* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.top-header {
    width: 100%;
    height: 66px;
    background-color: #8B2323;
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.top-header img {
    width: 147px;
    height: 44px;
    object-fit: contain;
}

.menu-nav {
    display: flex;
    align-items: center;
    background: white;
    height: 84px;
    border-bottom: 0.5px solid #a3a3a3;
    overflow: hidden;
}

.left-nav {
    padding: 30px 24px;
    display: flex;
    align-items: center;
    gap: 12px;
    background: white;
    width: 60%;
    border-right: 0.5px solid #a3a3a3;
    ;
}

.right-nav {
    display: flex;
    width: 40%;
    align-items: stretch;
    height: 100%;
}

.left-block {
    border-right: 0.5px solid #a3a3a3;
    width: 50%;
}

.right-block {
    width: 50%;
}

.menu-wrapper {
    width: auto;
    overflow: hidden;
    position: relative;
}

.menu-tabs {
    display: flex;
    align-items: center;
    gap: 61px;
    font-size: 18px;
    font-weight: 600;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    color: #4D4D4D;
}

.menu-tabs::-webkit-scrollbar {
    display: none;
}

.chevron-btn {
    font-size: 22px;
    cursor: pointer;
    color: #333;
    flex-shrink: 0;
}

.menu-divider {
    margin-top: 30px;
    width: 100%;
    height: 0.5px;
    background-color: #a3a3a3;
    margin-left: auto;
    margin-right: auto;
}

.left-side.menu {
    position: relative;
}

main {
    background-color: #f2f2f2;
    margin-top: 150px;
    height: calc(100vh - 150px);
    display: flex;
    overflow: hidden;
}

.left-container {
    width: 60%;
    border-right: 0.5px solid #a3a3a3;
    overflow: hidden;
}

.right-container {
    width: 40%;
    background-color: white;
}

.left-container-header {
    position: fixed;
    background: white;
    padding: 30px 34px;
    width: 59.9%;
    ;
}

.menu-title {
    font-weight: 600;
    font-size: 25px;
    color: #1E1E1E;
}

.menu-subtitle {
    font-weight: 400;
    font-size: 14px;
    color: #808080;
}

.menu-section {
    font-weight: 600;
    font-size: 25px;
    color: #1E1E1E;
    margin-top: 35px;
    margin-left: 0;
}

.best-seller {
    font-weight: 600;
    font-size: 25px;
    color: #1E1E1E;
}

.menu-card {
    width: 100%;
    height: 190px;
    margin-bottom: 21px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: flex-start;
    padding: 0;
    position: relative;
    padding-right: 30px;
}

.menu-card-img {
    width: 144px;
    height: 144px;
    object-fit: cover;
    margin: 25px 0 0 20px;
    border-radius: 50%;
    border: 5px solid #E6B800;
    flex-shrink: 0;
}

.menu-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    flex-direction: column;
    width: 100%;
}

.menu-item-title {
    font-weight: 600;
    font-size: 20px;
    color: #3C3C3C;
    margin-top: 30px;
    margin-bottom: 9px;
}

.menu-item-desc {
    font-weight: 400;
    font-size: 16px;
    color: #808080;
    margin-bottom: 13px;
}

.add-to-cart-btn {
    width: 121px;
    height: 35px;
    border: 1px solid #8B2323;
    border-radius: 20px;
    background-color: transparent;
    color: #8B2323;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
}

.add-to-cart-btn:hover {
    background-color: #8B2323;
    color: white;
    transition: ease-in-out 0.3s;
}

.menu-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-price {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #8B2323;
    margin-bottom: 26px;
    margin-left: 445px;
}

.scrollable-menu {
    width: 100%;
    height: calc(100% - 150px);
    padding: 0 34px 80px;       
    margin-top: 105px;          
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
}

html {
    scroll-behavior: smooth;
}

.menu-tabs span {
    cursor: pointer;
}

.menu-tabs span.active {
    color: #E6B800;
    font-size: 20px;
}

.center-line {
    position: absolute;
    height: 692px;
    bottom: 0;
    left: 903px;
    width: 0.5px;
    background-color: #E6B800;
}

.nav-divider {
    position: absolute;
    top: 66px;
    bottom: 0;
    left: 1215px;
    width: 0.5px;
    background-color: #808080;
    height: 91px
}

.get-order {
    position: absolute;
    left: 922px;
    bottom: 653px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #4D4D4D;
}

.choose-wrapper-order {
    position: absolute;
    left: 922px;
    bottom: 623px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.choose-get-order {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #4D4D4D;
    margin-right: 170px;
}

.when {
    position: absolute;
    left: 1232px;
    bottom: 653px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #4D4D4D;
}

.choose-wrapper-when {
    position: absolute;
    left: 1232px;
    bottom: 623px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.choose-when {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #4D4D4D;
    margin-right: 170px;
}

.choose-icon {
    font-size: 19px;
    color: #4D4D4D;
}